* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*  Typography */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.7') format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.7') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7') format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7') format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7') format('woff');
}

.type--pos-small-normal {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.type--pos-small-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.type--pos-small-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.type--pos-medium-normal {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

.type--pos-medium-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

.type--pos-medium-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

.type--pos-large-normal {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--pos-large-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--pos-large-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--pos-xlarge-normal {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--pos-xlarge-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--pos-xlarge-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--figma-black {
  color: #000000;
}

.type--figma-black-3 {
  color: rgba(0, 0, 0, 0.3);
}

.type--figma-black-8 {
  color: rgba(0, 0, 0, 0.8);
}

.type--neg-small-normal {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.type--neg-small-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.type--neg-small-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.type--neg-medium-normal {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.type--neg-medium-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.type--neg-medium-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.type--neg-large-normal {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--neg-large-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--neg-large-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--neg-xlarge-normal {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--neg-xlarge-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--neg-xlarge-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.type--figma-white {
  color: #ffffff;
}

.type--figma-white-4 {
  color: rgba(255, 255, 255, 0.4);
}

.type--figma-white-8 {
  color: rgba(255, 255, 255, 0.8);
}

.button {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 30px;
  margin: 1px 0 1px 0;
  padding: 5px 16px 5px 16px;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
}

.button--primary {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #ffffff;
  background-color: #18a0fb;
}

.button--primary:enabled:active {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.button--primary:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.button--primary-destructive {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #ffffff;
  background-color: #f24822;
}

.button--primary-destructive:enabled:active {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.button--primary-destructive:disabled {
  opacity: 0.4;
}

.button--secondary {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}

.button--secondary:enabled:active {
  padding: 4px 15px 4px 15px;
  border: 2px solid #18a0fb;
}

.button--secondary:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.button--secondary-destructive {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: #f24822;
  border: 1px solid #f24822;
  background-color: #ffffff;
}

.button--secondary-destructive:enabled:active {
  padding: 4px 15px 4px 15px;
  border: 2px solid #f24822;
}

.button--secondary-destructive:disabled {
  opacity: 0.4;
}

.button--margin-right {
  margin-right: 8px;
}

.input {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.005em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 28px;
  margin: 1px 0 1px 0;
  padding: 4px 8px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  background-color: #f5f5f5;
  transition: all 0.2s;
}

.input:hover {
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 6px inset rgba(0, 0, 0, 0.1);
}

.input::-moz-selection {
  color: #000000;
  background-color: rgba(24, 145, 251, 0.3);
}

.input::selection {
  color: #000000;
  background-color: rgba(24, 145, 251, 0.3);
}

.input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}

.input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}

.input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}

.input:not(:disabled):not(:hover):placeholder-shown {
  border: 1px solid transparent;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAcAAAAABCAYAAABJ5n7WAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgSURBVHgB7cMBCQAACMTAiR3sX1TQHr+DK2B+I0lSjj29qAEYlIbeBgAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: center bottom -0.9px;
  background-size: calc(100% - 10px) 1px;
}

.input:not(:disabled):focus:placeholder-shown {
  border: 2px solid #18a0fb;
}

.input:not(:disabled):focus:not(:placeholder-shown) {
  padding-left: 6px;
}

.input:disabled:hover {
  border: 1px solid transparent;
}

.input:active,
.input:focus {
  padding: 8px 4px 8px 6px;
  color: #000000;
  border: 2px solid #18a0fb;
  border-radius: 2px;
}

.input:disabled {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
}

.input:disabled:active {
  padding: 8px 4px 8px 7px;
}

.select {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.005em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 28px;
  margin: 1px 0 1px 0;
  padding: 4px 8px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  background-color: #f5f5f5;
  transition: all 0.2s;
}

.select:hover {
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 6px inset rgba(0, 0, 0, 0.1);
}

.checkbox {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 32px;
  cursor: default;
}

.checkbox__box {
  display: none;
}

.checkbox__box:checked + label:before {
  border: 1px solid #18a0fb;
  background-color: #18a0fb;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%227%22%20viewBox%3D%220%200%208%207%22%20width%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m1.17647%201.88236%201.88235%201.88236%203.76471-3.76472%201.17647%201.17648-4.94118%204.9412-3.05882-3.05884z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 1px 2px;
}

.checkbox__box:disabled + label {
  opacity: 0.3;
}

.checkbox__box:checked:disabled + label:before {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 7px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__label:before {
  flex-shrink: 0;
  display: block;
  width: 10px;
  height: 10px;
  margin: 2px 10px 0 10px;
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

/*# sourceMappingURL=figma-plugin-ds.css.map */
