.support{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 280px;
  height: 460px;
  padding: 20px;
  text-align: center;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  z-index: 1;
  img{
    width: 100%;
  }
  a{
    padding-top: 10px;
  }
  button{
    display: block;
    width: 100%;
    margin-top: 60px;
  }
}
